{% extends "twig/base.twig" %}

{% block title %}
    {{ title }}
{% endblock  %}
{% block content %}
    <div class="col-lg-12 " >
        {% if customer %}
            <h1>Customer ID: {{ customer.id }}</h1>
            <p><h2>{{ customer.name }}</h2></p>
            <p>email: {{ customer.email }}</p>
            <p>phone: {{  customer.phone }} </p>
        {%  else %}
            No customer found with id: {{ id }}
        {% endif %}
    </div>
{% endblock %}